/* Write your global styles here, in PostCSS syntax */
@tailwind base;

.styledButton {
	background-color: #b2292e;
	color: #fff;
	border: none;
	padding: 0.5rem 1rem;
	border-radius: 5px;
	font-size: 1rem;
	font-weight: 600;
	cursor: pointer;
	transition: all 0.1s ease-in-out;
}
.styledButton:hover {
	color: #000;
}

@tailwind components;
@tailwind utilities;
